<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="environment" value="development" />
        <add key="version" value="0.0.0.2" />
    </appSettings>
    <connectionStrings>
        <clear />
    </connectionStrings>
</configuration>