<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="environment" value="development" />
    <add key="version" value="0.0.0.2" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Sql" connectionString="Data Source=productionserver;Initial Catalog=somedatabase;Persist Security Info=True;Connection Timeout=300;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>